h1,label,button{
  font-family:"Lobster";
}
/* Empty. Add your own CSS if you like */

.bar-img-city{
	width: 100%;
	height: 30%;
	background-size: cover;
	background-position: center bottom;
	position: relative;
}